
$blue: #353FDF;
$white: #FFFFFF;
$secondary: $white;
$orange: #FF6F20;
$warning: $orange;
$table-header-color: #83848E;
$transparent: rgba(255, 255, 255, 0);
$teal: #F3F3F9;
$body-bg: $teal;
$red: #ED6868;
$cyan: #44B9A0;
$light: $teal;
$black: #000;
$body-color: $black;
$gray-300: #D7D8DD;
$border-radius-sm: 0.125rem;
$custom-checkbox-indicator-border-radius: $border-radius-sm;
$gray-600: #8B8D9B;
$table-head-color: $table-header-color;
$table-bg: $white;
$input-btn-padding-y: 0.275rem;
$breadcrumb-padding-y: 0.2rem;
$breadcrumb-padding-x: 0.4rem;
$breadcrumb-bg: $transparent;
$btn-border-radius: $border-radius-sm;
$border-radius: .125rem;
$border-radius-lg: .315rem;
$card-border-radius: $border-radius-lg;
$table-hover-bg: #F8F8FC;
$table-border-color: #b0b4cd80;
$table-head-bg: $white;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x: 0.8rem;
$pagination-padding-y: 0.4rem;
$pagination-color: $black;
$pagination-border-width: 0;
$pagination-hover-bg: $gray-300;
$pagination-active-color: $black;
$pagination-active-bg: $white;
$pagination-bg: $transparent;
$pagination-disabled-bg: $transparent;
$breadcrumb-divider: ">";
